@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    padding: 0;

}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "width" 100;
}
.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
  background-position: left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: bold;
    font-size: 40px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin-right: 30px;
}

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}
nav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.dark2{
    color: #474747;
}
.banner-greetings{
    font-family: "Open Sans";
    font-weight: 600px;
    font-size: 45px;
    color: #474747;
}
.banner-title{
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.banner-description{
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 18px;
    color: #757575;
}
.banner-profile{
    width: 580px;
    margin: 0;
    padding: 0;
    bottom: -5px;
    right: 50px;
    position: relative;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 200px;
    padding-bottom: 0;
}
.banner-content{
    max-width: 580px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
}

/* about */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about{
    border-radius: 10px;
   padding: 130px 150px;
   text-align: center;

}
.about-items{
    display: flex;
justify-content: space-around;
}

.item-title{
    color: #757575;
    font-weight: 400px;
    font-size: 20px;

}
.item-description{
    font-weight: bold;
}

.skills{
    border-radius: 10px;
   padding: 130px 100px;
   
  margin-top: 130px;

}
.skills .section-title{
    text-align: center;
}
.skills .section-description{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0px rgb(229, 226, 226);
    border-radius: 5px;
}
.resume-container{
    display: flex;
    gap: 71px;
    justify-content: center;
    
}
.resume .section-title{
    text-align: center;
    margin-bottom: 113px;
}
.bold{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}
.bold1{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
}
.dark3{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;

}
.regular{
    color: #757575;
    font-weight: 400px;
    font-size: 16px;
}
.experience-sub-title{
    margin-bottom: 20px;
}
.experience-description{
    margin-bottom: 30px;
}
.experience-title{
    margin-bottom: 30px;
}
hr{
    margin-bottom: 20px;
}
.button{
    text-align: center;
    margin-top: 50px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-col{
    width: 50%;
}

input[type="text"], footer input[type="email"], footer textarea{
    height: 54px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}